@use '../base' as base;

.btn:hover {
  background-color: transparent;
  color: base.$secondary-color;
  border: 1px solid base.$secondary-color;
}

.header__nav-link:hover {
  transition: 0.3s;
  color: base.$primary-color;
}
